.imageContainer {
	padding: 0px !important;
	width: 100%;
	height: 100%;
	margin: 0;
	max-width: 100%;

	&[data-flex-start='true'] {
		margin: 0 !important;

		&[data-video='true'] {
			margin: 0 !important;
		}
	}

	&[data-card='true'] {
		margin: 0;

		max-width: 100% !important;
	}

	&[data-fluid='true'] {
		padding: 0px;
	}

	&[data-expanded='true'] {
		max-width: 50vw;
		width: 50vw;

		position: absolute;
		top: 90px;
		right: 0px;
	}

	&[data-video='true'] {
		@media (min-width: $phil-breakpoint-md) {
			max-width: 88.77% !important;
			width: 88.77%;
		}
	}

	&[data-context='Contact'] {
		height: 100%;
	}

	@media (min-width: $phil-breakpoint-md) {
		position: static;
		max-width: 335px;
	}
}

.aspectRatio {
	height: 100%;
	margin: 0px;

	img {
		width: 100%;
		object-fit: cover;

		&[data-contain='true'] {
			object-fit: contain;
		}
	}
}

.portalBox {
	display: none;

	@media (min-width: $phil-breakpoint-sm) {
		display: block;
		margin-top: 40px;
	}
}
