.listCheckIcon {
  padding-left: 0px;
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #e6e6e6;
}

.border {
  border-left: 4px solid #35ada7;
  padding-left: 20px;
}

.heading {
  &[data-context="Pharma"] {
    font-size: 20px;
    font-weight: 700;
  }

  font-size: 16px;
  font-weight: 700;
}

.subHeading {
  font-size: 16px;
  font-weight: 400;
}

.rightColumn {
  border-top: 1px solid #e6e6e6;
  padding-top: 20px;

  @media (min-width: $phil-breakpoint-sm) {
    border-top: 0px;

    border-left: 1px solid #e6e6e6;
    padding-left: 70px;
    &[data-context="Pharma"] {
      border-left: 0px;
    }
  }

  @media (max-width: $phil-breakpoint-xs) {
    padding-left: 0px;
  }
}

.rightColumnTitle{
 font-size: 20px;
 font-weight: 700;
}

.sectionHeadingTitle {
  font-size: 18px;
  font-weight: 800;
  color: #00827E;
}

.greenTitle{
  font-size: 28px;
  font-weight: 700;
  color: #00827E;

  @media (max-width: $phil-breakpoint-xs) {
    font-size: 24px;
  }

}
