.paper {
	--ease-out-expo: cubic-bezier(0.19, 1, 0.22, 1);
	padding: 34px 24px;
	width: calc(100% - 12px);
	height: 100%;
	line-height: 27px;
	width: 100%;
	height: 100%;

	transition: transform 0.4s var(--ease-out-expo), box-shadow 0.4s var(--ease-out-expo);

	&:hover{
		
		&.showHoverShadow {
			cursor: pointer;
			box-shadow: 0px 0px 80.7px 0px #0000003B;
			transform: translateY(-4px);
		}

		.anchortext::after {
			transform: scaleX(0);
			transition-delay: 0s;
		  }
	}

	.anchorWrapper{
		display: flex;
		align-items: center;
	    gap: 4px;
		font-family: Lato;
		font-size: 18px;
		font-style: normal;
		font-weight: 600;
		text-decoration: none;
		
		.anchortext{
			position: relative;
			color: var(--mantine-color-anchor);
	
			&::after{
				position: absolute;
				content: "";
				left: 0;
				display: block;
				width: 100%;
				height: 2px;
				background: var(--mantine-color-anchor);
				transition: 0.4s var(--ease-out-expo);
				transform-origin: left;
			  }
		  }

		  .iconWrapper{
			display: inline-flex;
			align-items: center;

			svg{
				color: var(--mantine-color-anchor);
			}
		  }
		}

	@media (min-width: $phil-breakpoint-sm) {
		padding: 48px 32px;
	}
}

.paragraph {
	font-size: 16px;
	color: #525252; 

	&[data-is-center='true'] {
		color: var(--Phil-Rebrand-Neutral-Pitch, #0a0a0a);
		font-family: Lato;
		font-size: 18px;
		font-style: normal;
		font-weight: 400;
		line-height: 150%; /* 27px */
	}
}

.description {
	color: var(--Phil-Rebrand-Neutral-Gunmetal, #525252);
	font-family: Lato, sans-serif;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 120%; /* 19.2px */
}

.stack {
	display: flex;
  flex-direction: column;
}

.title {
	&[data-is-faq='true'] {
		margin-bottom: 0px;
	}
}

.heading4{
	font-size: 24px;
}

.gridInner,
.gridRoot {
	height: 100%;
}

.faqHeading {
	font-size: 24px;
	line-height: 1.3;
}

.entryLink {
	color: inherit !important;
	text-decoration: none !important;

	&[data-is-faq='true'] {
		&:hover {
			color: #edbe3d !important;
			cursor: pointer;

			&[data-color='#00B6CC'] {
				color: #00b6cc !important;
			}
		}
	}
}

.buttonLabel {
	white-space: unset;
	text-align: start;
}

.buttonRoot {
	height: fit-content !important;
}

.internalLink {
	width: fit-content;
}

.heading3 {
	&[data-context='Home'] {
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
	}
}


.recentClientNewsHeader{
	font-size: 14px;
	color : #00827E;
	font-weight: 700;
	margin-bottom: 32px;
}

.recentClientNewsSubHeader{
	font-size: 24px;
	font-weight: 700;
	margin-bottom: 32px;
}