.container {
  &[data-context="Phil Direct"][data-section-index="4"][data-order="3"] {
    padding: 36px 48px 36px;
    background-color: #eef6f6;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
  }

  &[data-context="Phil Direct"][data-section-index="4"][data-order="4"] {
    padding: 36px 48px 36px;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    background-color: #eef6f6;
  }

  .heading {
    &[data-context="Phil Direct"][data-section-index="4"][data-order="3"] {
      text-align: center;
      font-family: Raleway;
      font-weight: 700;
      font-style: Bold;
      font-size: 32px;
    }
  }
}

.column {
  &[data-reference-type="Stepper Cards"],
  &[data-reference-type="Testimonial"] {
    max-width: fit-content;
  }

  &[data-reference-type="Single line Metric card"] {
    margin: auto;
  }
}

.grid {
  &[data-add-margin="true"] {
    margin-top: 40px;

    @media (min-width: $phil-breakpoint-sm) {
      margin-top: 80px;

      &[data-is-stepper-card="true"] {
        margin-top: 40px;
      }
    }
  }
  &[data-context="Phil Direct"][data-section-index="4"][data-order="2"] {
    width: 80%;
    margin: auto;
  }

  &[data-context="Phil Direct"][data-order="3"] {
    margin-top: 40px;
  }

  &[data-context="Solution"][data-reference-type="Code Snippet"] {
    margin-top: 100px;
  }

  &[data-context="Our Solution"][data-reference-type="Code Snippet"] {
    margin-top: 40px;
  }
}

.carouselContainer {
  width: calc(99vw - 40px);

  @media (min-width: $phil-breakpoint-sm) {
    width: 100%;
  }

  > div:last-child {
    margin: 0;
  }
}

.root {
  width: fit-content;

  &[data-has-media-item="true"] {
    width: 100%;
  }

  &[data-has-media-item="false"] {
    .phil-Carousel-viewport {
      width: fit-content;
    }
  }

  &[data-context="Company"] {
    width: 100%;
    .controls {
      > button {
        background-color: #09aaa5;
        padding: 4px;

        svg {
          stroke: var(--primay-white-color);
        }
      }

      > button:first-child {
        margin-left: -9%;
        @media screen and (min-width: $phil-breakpoint-xs) {
          margin-left: -46px;
        }
      }

      > button:nth-child(2) {
        margin-right: -9%;
        @media screen and (min-width: $phil-breakpoint-xs) {
          margin-right: -46px;
        }
      }
    }
  }
}

.controls {
  width: initial;

  > button {
    @media screen and (max-width: $phil-breakpoint-sm) {
      background-color: white;
      border-radius: 50%;
      width: 48px;
      height: 48px;
      display: flex;
      align-items: center;
      justify-content: center;
      box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    }
  }

  > button:first-child {
    @media screen and (min-width: $phil-breakpoint-sm) {
      margin-left: -46px;
    }
  }

  > button:nth-child(2) {
    @media screen and (min-width: $phil-breakpoint-sm) {
      margin-right: -46px;
    }
  }
}

.control {
  background: none;
  border: none;
  box-shadow: none;
  padding: 0;
  opacity: 0.7;

  &[data-inactive="true"] {
    opacity: 0.2;
    cursor: not-allowed;
  }
}

.bottomDivider {
  &[data-context="Phil Direct"][data-section-index="4"][data-order="3"] {
    border-top: 1px solid #00C2BC;
    width: 90%;
    margin: auto;
  }
}
