.parent {
  position: relative;
}

.faqTitlebar {
  display: block;

  .title {
    font-family: Raleway;
    font-weight: 700;
    font-size: 48px;
    text-align: center;
    margin-bottom: 24px;
    margin-top: 50px;
  }

  .tabs {
    display: flex;
    justify-content: center;
    gap: 16px;

    .tabItem {
      background-color: #d9d9d9;
      font-family: Lato;
      font-weight: 600;
      font-size: 16px;
      color: #0A0A0A;
      text-transform: capitalize;

      &:hover {
        cursor: pointer;
      }

      &.active {
        background-color: var(--primary-green-color);
        color: var(--primary-white-color,#FFFFFF);
      }
    }
  }
}
