.gatsbyImageContainer {
  > div {
    &:first-of-type {
      max-width: 100% !important;
    }
  }

  &.fullWidth{
    width: 100%;
  }

  &.heightInherit{
    height: inherit;
  }

  &.fullWidthHeight{
    width: 100%;
    height: 100%;
  }
}
