:where(html) {
  --section-padding: 60px;
}

.leftRightContainer {
  background: linear-gradient(180deg, #00706d 0%, #00827e 100%);
  padding-bottom: 100px;

  .philLogo {
    padding: 22px 0;
    background-color: #ffffff;

    @media (min-width: $phil-breakpoint-md) {
      background-color: transparent;
    }
  }

  .logo {
    max-width: 125px;
    max-height: 90px;
    cursor: pointer;
  }
}
