.roiCalculator {
    height: 100%;
    margin-top: 36px;
    margin-bottom: 36px;

    .left {
        margin-bottom: 36px;

        @media (min-width: $phil-breakpoint-md) {
            padding: 10px 10px 10px 0px;
            margin-bottom: 0px;
        }
    }

    .right {

        @media (min-width: $phil-breakpoint-md) {
            padding: 10px 0px 10px 10px;
        }
    }
}