.textsWrapper {
	> :not(:first-child) {
		margin-left: 32px;
	}
 
}

.links,
.texts {
	color: #fff;
	text-align: right;
	font-family: Lato, sans-serif;
	font-size: 12px;
	text-decoration: none;
	line-height: 150%;

	@media (min-width: $phil-breakpoint-sm) {
		&[data-minimal='false'] {
			color: #000;
			font-size: 14px;
			font-weight: 700;
		}
	}
}

.links:hover{
	color: #00827e
}

.bottomFooter {
	background: #00827e;
	 

	@media (min-width: $phil-breakpoint-sm) {
		 
		
		&[data-minimal='false'] {
			background: white;
			color: black;
			padding-bottom: 30px;
			padding-top: 0;
		}
	}
}

 

.pipe {
	padding: 0px 2px;
	color: white;
	display: block;
	font-size: 12px;

	@media (min-width: $phil-breakpoint-sm) {
		&[data-minimal='false'] {
			display: none;
		}
	}
}

.badge {
	max-width: 75px;
	width: 75px;
}
