.links ,.texts {
  font-size: 12px;
  color: white;
  text-decoration: none;
}

.bottomFooter {
  background: #00827E;
  padding: 14px 0px;
}

.divider {
  padding: 0px 2px;
  color: white;
}

.footerWrapper {
  padding: 40px;
}
