.header {
	margin: 0;
	color: var(--Phil-Rebrand-Neutral-Pitch, #0a0a0a);
	font-family: Lato, sans-serif;
	font-size: 18px;
	font-style: normal;
	font-weight: 700;
	line-height: 140%; /* 25.2px */
}

.divider {
	margin-top: 10px;
	margin-bottom: 10px;
	border-top: 1px solid #6A7979;
}

.link {
	margin: 0;
	color: var(--Phil-Rebrand-Neutral-Pitch, #0a0a0a);
	font-family: Lato, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 140%; /* 19.6px */
	text-decoration: none;
	display: inline-block;
	width: fit-content;

	&[data-manual-entry='true'] {
		margin-left: 8px;
	}

	> p {
		margin: 0;
	}
}

.inner {
	padding-top: 40px;
	padding-bottom: 40px;
}
