.footerWrapper {
		padding: 0px;
}

.label {
	line-height: 1.55 !important;
	font-size: 18px !important;
	font-weight: bold !important;
	padding: 0 !important;
}

.footerSection {
	line-height: 40px !important;
}

.content {
	padding: 0 !important;
}

.item {
	border: none !important;
}

.control {
	border-bottom: 1px solid #6a7979 !important;
	padding: 32px 0 !important;
}

.chevron {
	width: 24px !important;
}

.footerLink,
.link {
	color: black !important;
	text-decoration: none !important;
}

.divider {
	border-bottom: 1px solid #6a7979 !important;
	margin-bottom: 20px;
}

.logo {
	max-width: 125px;
	max-height: 90px;
	width: 100%;
	margin-top: 20px;
}

.heading {
  padding-bottom: 16px;

  &4 {
    font-size: 18px;
    padding-bottom: 16px;
    font-weight: 700;
  }
}

.paragraph {
  font-size: 14px;
  font-family: Lato, sans-serif;
	font-weight: 400; 
}

.footerContent{
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.contact {
	padding-top: 10px;
	display: flex;
	flex-direction: column;
	gap: 10px;
}
