.card {
	position: relative;
	overflow: hidden;
	padding: 32px;
	width: 100%;
	max-width: 1725px;
	margin: 0 auto;

	&::before {
		content: '';
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		width: 6px;
		background: #5abea4 0% 0% no-repeat padding-box;
	}

	@media (min-width: $phil-breakpoint-md) {
		padding: 16px;
	}
}

.gridColumn {
	padding: 64px 16px 10px;

	@media (min-width: $phil-breakpoint-md) {
		padding: 64px 32px 52px;
	}
}
