.title {
  font-size: 38px;
  margin-bottom: 56px;

  &[data-is-field-faq="true"] {
    margin-bottom: 36px;
  }

  @media (min-width: $phil-breakpoint-sm) {
    font-size: 60px;
    margin-bottom: 68px;
  }
}

.paragraph {
  font-size: 18px;
  font-family: Lato, sans-serif;
  margin-bottom: 24px;

  + .unorderedList,
  + .orderedList {
    padding-top: 0px;
  }
}

.orderedList {
  padding-top: 16px;
  padding-bottom: 32px;

  li {
    margin-top: 0px;
    margin-bottom: 0px;
  }
}

.unorderedList {
  padding-left: 32px;

  padding-top: 12px;
  padding-bottom: 16px;

  li {
    margin-top: 0px;
    margin-bottom: 0px;

    &:first-child {
      margin-top: 0;
    }
  }
}

li {
  .paragraph {
    padding-bottom: 0;
  }
}

.anchor {
  color: #00827e;
  font-size: 18px;
}

.wrapper {
  margin-top: 40px;
  margin-bottom: 64px;
  padding: 0px 16px;

  @media (min-width: $phil-breakpoint-sm) {
    padding: 0 100px;
  }
}

.listItem {
  overflow: hidden;
  font-size: 24px;
  line-height: 1.4;
}

.listItem::marker {
  font-size: 16px;
  font-weight: 700;
}

.floatingImage {
  float: none;
  display: flex;
  place-content: center;
  padding: 30px 40px;
  height: 300px;
  width: 300px;

  @media (min-width: $phil-breakpoint-sm) {
    float: right;
  }
}

.embededAsset {
  margin-bottom: 32px;
  display: flex;
  justify-content: start;
}

.embededAssetPDF {
  margin-bottom: 32px;
}

.embededAssetWrapper {
  max-width: 420px;
}

.border {
  border: 2px solid black;
  padding: 10px;
}

.table {
  border-collapse: collapse;
  border-spacing: 0;
}

.tableHeader {
  text-align: start;
}

.heading {
  padding-top: 20px;
  padding-bottom: 16px;

  &2 {
    font-size: 24px;
  }

  &3 {
    font-size: 20px;

    padding-top: 36px;
    padding-bottom: 20px;
  }

  &4 {
    font-family: Lato, sans-serif;
    font-size: 18px;
  }

  &5 {
    font-family: Lato, sans-serif;
    font-weight: 400;
    font-size: 18px;
  }

  &6 {
    font-family: Lato, sans-serif;
    font-size: 18px;
  }
}
