.container {
  margin-top: 36px;
  padding-bottom: 100px;
}

.textDecorationNone {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
  align-self: center;
}

.button {
  font-size: 16px;
  font-weight: 600;

  &:hover {
    background: #007ebb;
    color: #fff;
  }
}

.heading {
  padding-bottom: 16px;

  &3 {
    font-size: 26px;
    padding-bottom: 16px;
    font-weight: 700;
  }

  &6 {
    font-family: Lato, sans-serif;
    font-size: 17px;
    font-weight: 400;
    padding: 0px;
    color: #525252;
  }
}

.paragraph {
  font-size: 18px;
  font-family: Lato, sans-serif;
  margin-bottom: 24px;
}

.imageContainer {
  display: flex; /* Establishes a flex container */
  flex-direction: row; /* Arranges items in a row */
  align-items: center; /* Vertically aligns items in the center */
  justify-content: flex-start; /* Align items to the start of the container. change this if you need other alignment*/
  gap: 10px; /* Adds some space between the images. Adjust as needed */
}

.imageContainer img {
  max-height: 36px;
  border-radius: 5px;
}


.imageSlide {
  transform: translateY(50px);
  opacity: 0;
  transition: all 0.6s ease-out;

  &.visible{
    transform: translateY(0);
  opacity: 1;
  }
}

.card{
  --card-bg: #ECF9F8;

    .textContainer {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        padding: 27px 30px;
        gap: 10px;
        background-color: var(--card-bg);
    }

    .textDecorationNone {
        color: inherit;
        text-decoration: none;
        cursor: pointer;
        align-self: center;
    }

    .button {
        font-size: 16px;
        font-weight: 600;
        background-color: #F4F9FE;

        &:hover {
            background: #007ebb;
            color: #fff;
        }
    }

    .heading {
        padding-bottom: 16px;

        &3 {
            font-size: 28px;
            padding-bottom: 16px;
            font-weight: 700;
            font-family: Raleway;
        }

        &6 {
            font-family: Lato, sans-serif;
            font-size: 16px;
            font-weight: 400;
            padding: 0px;
            color: #525252;

        }
    }

    .leaderImage {
        background-color: var(--card-bg);

    }

    .buttonContainer {
        margin-top: 27px;

    }
}

