.container {
  margin-top: 36px;
  padding-bottom: 100px;
}

.imageContainer {
  display: flex; /* Establishes a flex container */
  flex-direction: row; /* Arranges items in a row */
  align-items: center; /* Vertically aligns items in the center */
  justify-content: flex-start; /* Align items to the start of the container. change this if you need other alignment*/
  gap: 10px; /* Adds some space between the images. Adjust as needed */
}

.imageContainer img {
  max-height: 36px;
  border-radius: 5px;
}


.imageSlide {
  transform: translateY(50px);
  opacity: 0;
  transition: all 0.6s ease-out;

  &.visible{
    transform: translateY(0);
  opacity: 1;
  }
}
