.container {
	padding: 0px 16px;

	@media (min-width: $phil-breakpoint-md) {
		padding: 0px 100px;
	}
}

.heading {
    margin-top: 36px;
	font-size: 40px;
    
	@media (min-width: $phil-breakpoint-md) {
        font-size: 50px;
	}
}