.cardContainer {
  .promoCard {
    box-shadow: 0px 4px 10px 0px #0000001a;
    padding: 64px 32px;
    height: 100%;
    width: 100%;

    margin-bottom: 32px;
    display: flex;
    gap: 32px;

    .title {
      font-family: Raleway;
      font-weight: 700;
      font-style: Bold;
      font-size: 24px;
    }

    .paragraph {
      font-family: Lato;
      font-weight: 400;
      font-style: Regular;
      font-size: 16px;
    }

    .icon {
      display: flex;
      align-items: center;
    }

    .content {
      display: flex;
      flex-direction: column;
      gap: 16px;

      .pills {
        display: flex;
        flex-wrap: wrap;
        gap: 16px;
      }
    }
  }
}
