.cardContainer {
  .promoCard {
    box-shadow: 0px 4px 10px 0px #0000001a;
    padding: 25px 44px;
    height: 100%;
    width: 100%;
    margin-bottom: 32px;
    display: flex;
    gap: 32px;
    flex-direction: column;

    @media (min-width: $phil-breakpoint-sm) {
      flex-direction: row;
      padding: 5px 44px 8px;
    }

    .title {
      font-family: Raleway;
      font-weight: 700;
      font-style: Bold;
      font-size: 24px;
    }

    .paragraph {
      font-family: Lato;
      font-weight: 400;
      font-style: Regular;
      font-size: 16px;
    }

    .icon {
      display: flex;
      align-items: center;

      img {
        width: 100px;
      }
    }

    .content {
      display: flex;
      flex-direction: column;
      justify-content: center;

      .pills {
        margin-top: 2px;
        display: flex;
        flex-wrap: wrap;
        gap: 16px;
      }
    }
  }
}

.imageOnly {
  display: flex;
  justify-content: center;
}
