.inner {
	padding: 0 100px;
	display: flex;
	align-items: center;
	position: static !important;
}

.burger {
	@media (min-width: $phil-breakpoint-md) {
		display: none !important;
	}
}

.collapse {
	position: absolute;
	top: 90px;
	left: 0;
	z-index: 2;
	opacity: 1;
	width: 100%;
}

.navbar {
	position: relative;
	height: 90px;
	width: 100vw;
	background: #fff;
	display: flex;
	align-items: center;
	overflow-y: hidden;
}

.navbar ul li {
	position: relative;
	list-style-type: none;
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
}

.indicator {
	position: absolute;
	bottom: -25px;
	left: 25px;
	width: 0px;
	height: 0px;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-bottom: 20px solid #00827e;
	transition: transform 0.5s;
}

.navLinksWrapper {
	display: flex;
}

.navLinksWrapper {
	@media (max-width: 1024px) {
		display: none !important;
	}
}

.navLink {
	position: relative;
	margin-right: calc(1.313rem + 1.2vw);
	cursor: pointer;
	text-decoration: none;
}

.navLink:last-child {
	margin-right: 0px;
}

@media (max-width: 1440px) {
	/* 'xl' breakpoint */
	.navLink {
		margin-right: calc(1.313rem);
	}
}

.buttons {
	margin-right: 0px !important;
}

.patientLoginButtonMobile:hover {
	/* Hover styles */
	/* Replace with actual background color from theme.colors.philBranding[9] */
	color: white;
}

@media (min-width: 769px) {
	/* 'md' breakpoint */
	.patientLoginButtonMobile {
		display: none;
	}
}

.logo {
	max-width: 125px;
	max-height: 90px;
	width: 100%;
}

@media (max-width: 768px) {
	/* 'md' breakpoint */
	.logo {
		width: 100px;
		margin-right: 25px;
	}
}

.hideOnLarge {
	display: none !important;
}

@media (min-width: 769px) {
	/* 'md' breakpoint */
	.hideOnLarge {
		display: none;
	}
}

.textDecorationNone {
	text-decoration: none;
	text-decoration-line: none;
}
