.navbar {
	position: relative;
	height: 90px;
	width: 100vw;
	background: #fff;
	border-radius: 20px;
	display: flex;
	align-items: center;
	overflow: hidden;
}

.navbar ul {
	position: relative;
	display: flex;
}

.navbar ul li {
	position: relative;
	list-style-type: none;
}

.navbar ul li {
	position: relative;
	height: 120px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
}

.navbar ul .indicator {
	position: absolute;
	bottom: -5px;
	left: 25px;
	width: 0px;
	height: 0px;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-bottom: 20px solid #00827e;
	transition: transform 0.5s;
}
