/* General Navbar Styles */
.navbar {
  --primary-green-color: #00827E;
  padding: 15px 30px;
}

.navContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Navigation Menu */
.navMenu {
  list-style: none;
  display: flex;
  gap: 30px;
}

.navItem {
  position: relative;
}

.navLink {
  background: none;
  border: none;
  font-size: 16px;
  color: #333;
  cursor: pointer;
  padding: 8px 0;

  /* Underline Animation instead of bottom-border - using fake underline */
  background-image: linear-gradient(#00796b, #00796b);
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: 0 1px;
  transition: background-size var(--transition-base), color var(--transition-base);  
}

.navLink:hover, .active {
  color: #00796b;
  background-size: 100% 1px;
}

/* Dropdown Menu */

.dropdownContainer{
  position: absolute;
  top: 100%;
  left: 0;
  width: 200px;
  padding: 0;
  z-index: 9999;
  padding-top: 25px;
}

.dropdown {
  padding: 0;
  margin: 0;
  background-color: var(--primary-green-color);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  position: relative;
}

.dropdownItem {
  font-size: 14px;
  color: white;
  cursor: pointer;
}

.dropdownLink {
  color: white;
  text-decoration: none;
  width: 100%;
  padding: 10px 15px;
  transition: var(--transition-color-bg);

}

.dropdownLink:hover {
  color: #000;
  background-color: white;
}

/* Buttons */
.navButtons {
  display: flex;
  gap: 15px;
}

.btn {
  padding: 8px 15px;
  border: none;
  font-size: 14px;
  cursor: pointer;
  border-radius: 5px;
}

.login {
  background: none;
  border: 1px solid #00796b;
  color: #00796b;
}

.login:hover {
  background-color: #00796b;
  color: white;
}

.demo {
  background-color: #00796b;
  color: white;
}

.demo:hover {
  background-color: #005a4f;
}
/* Indicator arrow above the submenu */
.indicator {
  position: absolute;
  top: -10px; /* Position above submenu */
  left: 20px;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid  var(--primary-green-color);

  @media (min-width: $phil-breakpoint-sm) {
    top: -9px;
  }
}

/* Make indicator visible when submenu is open */
.navItem:hover .indicator,
.navItem.active .indicator {
  opacity: 1;
}
