.box {
	@media (min-width: $phil-breakpoint-sm) {
		display: flex;
		align-items: baseline;
		justify-content: center;
		gap: 28px;
	}
}

.newsletter {
	> form {
		margin-top: 32px;

		@media (min-width: $phil-breakpoint-sm) {
			display: flex;
			align-items: flex-start;
			justify-content: center;
			width: 100%;
		}

		> div {
			/* input box */
			> div {
				margin: 0px !important;
			}

			/* input label */
			> label {
				display: none !important;
			}

			/* input legend */
			> legend {
				display: none !important;
			}

			margin: 0 !important;
		}

		input[type='submit'] {
			max-width: 100%;
			width: 100%;
			border: 1px solid transparent;
			margin-top: 32px;
				
			@media (min-width: $phil-breakpoint-sm) {
				margin: 0;
				margin-left: 16px;
				padding: 13.5px 40px;
				height: 100%;
			}
		}

		input[type='email'] {
			@media (min-width: $phil-breakpoint-sm) {
				width: 400px !important;
			}
		}
	}
}
