.content {
	height: 100%;
	padding: 72px 105px;
}

.contentGrid {
	background: #f4f4f4;
}

.title {
	line-height: 1.2;
}

.normalText {
	line-height: 29px;
}

.step {
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.stepBody {
	margin: 0 auto;
	margin-top: 8px;
}

.stepIcon {
	font-size: 20px;
	border: 2px solid #9e9e9e;

	&[data-progress='true'] {
		background: #00827e;
		color: #ffffff;
		border: none;
	}

	&[data-completed='true'] {
		border: none;
	}
}

.stepCompletedIcon {
    > svg {
        width: 50%;
        height: 50%;
    }
}

.inputLabel {
	color: #525252;
	font-size: 20px;
}

.rootWrapper {
	margin-bottom: 20px !important;
}

.inputWrapper {
	margin-bottom: 0;
}

.separator {
	margin: -30px;
	margin-top: -50px;
	background-color: #9e9e9e;
}

.radioButton {
	width: 24px;
	height: 24px;
	border-radius: 1px;
}

.radioIcon {
	width: 16px;
	height: 16px;
	position: absolute;
	top: 60%;
	left: 60%;
	transform: translate(-50%, -50%);
}

.radioLabel {
	font-size: 20px;
	color: #525252;
	font-weight: 400;
}

/* .radioGroup div.mantine-Group-root {
	column-gap: 20px;
	row-gap: 12px;
} */

.backButton {
	color: #525252;

	&:hover {
		background: none;
	}
}
