.content {
    height: 100%;
    padding: 72px 105px;
}


.contentGrid {
    background: #F4F4F4;
}

.title {
    line-height: 1.2;
}

.normalText {
    line-height: 29px;
}

.step {
    flex-direction: column;
    justify-content: center;
    align-items: center; /* replaced 'placeItems' with 'align-items' and 'justify-content' for standard CSS */
}

.stepBody {
    margin: 0 auto;
    margin-top: 8px;
}

.stepIcon {
    border-color: #9E9E9E;
    font-size: 20px;
}

.stepIcon[data-progress='true'] {
    background: #00827E;
    color: #FFFFFF;
}

.inputLabel {
    color: #525252;
    font-size: 20px;
}

.rootWrapper {
    margin-bottom: 20px !important;
}

.inputWrapper {
    margin-bottom: 0;
}

.separator {
    margin: -30px;
    margin-top: -50px;
    background-color: #9E9E9E;
}

.radioButton {
    width: 24px;
    height: 24px;
    border-radius: 1px;
}

.radioIcon {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.radioLabel {
    font-size: 20px;
    color: #525252;
    font-weight: 400;
}

.radioGroup div.mantine-Group-root {
    column-gap: 20px;
    row-gap: 12px;
}

.backButton {
    color: #525252;
}

.backButton:hover {
    background: none;
}
