.dptChat {
    height: inherit;

    --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color);

    .section {
        margin: 50px auto;
        border-radius: 1rem;
        box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
        border: 1px solid rgb(229 231 235);
        background-color: rgb(255 255 255);
    }

    .top {
        padding: 1.5rem;
        display: flex;
        align-items: center;
        border-bottom: 1px solid rgb(229 231 235);
        padding: 1.5rem;
        justify-content: space-between;
    }

    .chatHistory {
        height: 40vh;
        padding: 1rem;
        border-radius: 0.75rem;
        overflow-y: auto;
        margin-bottom: 1rem;

        .messageBubble {

            display: flex;

            &.aiMessageBubble {
                justify-content: flex-start;
            }

            &.userMessageBubble {
                justify-content: flex-end;
            }



            .memessageBoxssage {
                max-width: 80%;
                border-radius: 1rem;
                margin-bottom: 0.5rem;
                padding: 0.75rem 1rem;
                word-wrap: break-word;

                &.aiMessage {
                    justify-content: flex-start;
                    text-align: left;
                    background-color: #e5e7eb;
                    color: #1f2937;

                }

                &.userMessage {
                    justify-content: flex-end;
                    text-align: right;
                    background-color: #3B82F6;
                    color: white;
                    margin-left: auto;
                }
            }

        }

    }

    .inputArea {
        /* display: flex; */
        /* gap: 0.5rem; */
        padding: 1.5rem;
        border-top: 1px solid rgb(229 231 235);

        .form {
            display: flex;
            gap: 0.5rem;
            transition: border-color 0.3s;

            input {
                padding: 0.75rem 1rem;
                border: 1px solid #d1d5db;
                border-radius: 9999px;
                /* Full rounded */
                font-size: 1rem;
                outline: none;
            }

            &:focus {
                border-color: #3b82f6;
                /* Blue border on focus */
                box-shadow: 0 0 0 3px rgba(59, 130, 246, 0.3);
                /* Optional shadow */
            }


            .sendBtn {
                background: rgb(62, 116, 233);
                border-radius: 50%;
                padding: 12px;
                display: flex;
                align-items: center;
                justify-content: center;
                transition: background-color 0.3s;
                border: none;

            }
        }

    }
}



.gradient-button {
    background-image: linear-gradient(to right, #6EE7B7, #3B82F6, #9333EA);
    transition: all 0.3s ease;
}

.gradient-button:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}