.singleSlider{
    .label{
        display: flex;
        justify-content: space-between;
        margin-bottom: 18px;
        gap: 10px;
        align-items: center;

        .titleLabel{
            display: flex;
            gap: 12px;
            font-size: 16px;

            .icon{
                display: flex;
                align-items: center;
            }
        }
    }
}