.metricCard {
  .paper {
    border-radius: 70px;
    border: 5px solid;
    padding: 12px 12px 12px 25px;
    height: 100%;
    width: 100%;

    .content {
      display: flex;
      gap: 20px;
      height: 100%;
      width: 100%;

      .icon {
        display: flex;
        align-items: center;
      }
    }

    .title {
      font-weight: 700;
      font-size: 38px;
      font-family: Lato;
    }

    .paragraph {
      font-family: Lato;
      font-weight: 400;
      font-style: Regular;
      font-size: 16px;
    }
  }
}
