.card {
    position: relative;
    overflow: hidden;
    padding-left: 10px;
    background: #f4f4f4;
}

.card::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 6px;
    background: #5ABEA4 0% 0% no-repeat padding-box;
}
