.title {
	&[data-is-embed-form-template='true'] {
		font-size: 40px;

		&[data-index='0'] {
			max-width: 500px;
		}
	}

	&[data-context='Contact'] {
		margin-top: 32px;
		font-size: 35px;
		line-height: 1.3;
	}
}

.container {
	padding: 60px 20px;

	&[data-index='0'] {
		@media (min-width: $phil-breakpoint-sm) {
			padding-top: 160px;
			padding-bottom: 160px;
		}
	}

	&[data-context='Contact'] {
		padding-top: 0px;
		padding-bottom: 0px;
	}

	&[data-is-embed-form-template='true'] {
		padding-top: 152px;
		padding-bottom: 152px;
	}

	@media (min-width: $phil-breakpoint-sm) {
		padding-left: 100px;
		padding-right: 100px;
	}
}

.listItem {
	p {
		margin-top: 14px;
	}

	color: #00201f;
	line-height: 27px;
	font-size: 18px;
}

.textGridColumn {
	padding-bottom: 8px;

	@media (min-width: $phil-breakpoint-sm) {
		padding-bottom: auto;
	}

	& > p:last-child:empty {
		display: none;
	}
}

.portal {
	& > p:last-child:empty {
		display: none;
	}

	@media (min-width: $phil-breakpoint-md) {
		display: block;
	}
}

.body {
	font-size: 18px;
	max-width: 84.5%;
	margin-top: 40px;

	&[data-is-embed-form-template='true'] {
		padding-left: 16px;
		padding-right: 16px;

		@media (min-width: $phil-breakpoint-sm) {
			padding-left: 0px;
			padding-right: 0px;
		}

		@media (min-width: $phil-breakpoint-md) {
			padding-left: unset;
			padding-right: unset;
		}
	}
}

.heroGridColumn {
	&[data-is-embed-form-template='true'] {
		padding-left: 16px;
		padding-right: 16px;

		@media (min-width: $phil-breakpoint-sm) {
			padding-left: 32px;
			padding-right: 32px;
		}

		@media (min-width: $phil-breakpoint-md) {
			padding-left: 0px;
			padding-right: 0px;
		}
	}
}

.formWrapper {
	padding: 44px 38px;
	background: #f4f4f4;
	width: 100%;

	@media (min-width: $phil-breakpoint-sm) {
		padding: 44px 32px;
	}
}

.contactSubheader {
	margin: 16px auto;
}

.divider {
	margin-top: 16px;
	margin-bottom: 32px;
}