.basicSectionMainContainer {
	--padding-section: 40px;
	--img-outside-margin: 20px;

	position: relative;
	overflow: hidden;

	.rightBackgroundIcon {
		display: none;

		@media (min-width: $phil-breakpoint-sm) {
			opacity: 0.8;
			display: block;
			position: absolute;
			top: -20%;
			right: -5%;
			height: 200%;
			z-index: 1;
		}

		>img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: 0% 50%;
		}
	}
}

.darkText {
	color: #000000;
}
.lightText {
	color: #FFFFFF;
}

.header{
	&[data-context='Solution'] {
		font-size: 32px;
		margin-bottom: 100px;
		text-align: center;
	}

	&[data-context='Phil Direct'] {
		color: #0A0A0A;
		font-size: 40px;
		margin-bottom: 50px;
		text-align: center;
	}
}

.title {
	overflow-wrap: break-word;
	font-size: 48px;
	
	  @media (min-width: $phil-breakpoint-md) {
			font-size: 60px;
		}

		&[data-is-embed-form-template='true'] {
		font-size: 40px;

		&[data-index='0'] {
			max-width: 500px;
		}
	}

	&[data-context='Contact'] {
		margin-top: 32px;
		font-size: 35px;
		line-height: 1.3;
	}

	&[data-context='Company'] {
		font-size: 38px;

		@media (min-width: $phil-breakpoint-sm) {
			font-size: 60px;
		}
	}
}

.embeddedAsset{
	margin: 0px auto 40px;
}

.heading2{
		&[data-context='Company'],&[data-context='Solution'],&[data-context='Phil Direct'] {
			font-size: 40px;
		}
}

.basicSectionContainer {
	position: relative;
	z-index: 2;
	padding: var(--padding-section);
	
	&[data-oneColumn="true"] {
		color: #FFFFFF;

		&[data-context='Solution'] {
			color: #000000;
		}

		@media (min-width: $phil-breakpoint-sm) {
			text-align: center;
		}
	}

	&[data-context='Contact'] {
		padding-top: 0px;
		padding-bottom: 0px;
	}

	&[data-is-embed-form-template='true'] {
		padding-top: 56px;
		padding-bottom: 56px;

		@media (min-width: $phil-breakpoint-sm) {
			padding-top: 152px;
			padding-bottom: 152px;
		}
	}

	.containSection{
		position: relative;

		.wallImage{
			display: none;
			height: 80%;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			right: calc(var(--img-outside-margin) * -1);
			
			&[data-context='Phil Direct'] {
				height: 110%;
			}

			>img{
				width: 100%;
				height: 100%;
			}

			@media (min-width: $phil-breakpoint-md){
				display: block;
				width: 50%;
			}

			&.leftWallImage{
				left: calc(var(--img-outside-margin) * -1);

				&[data-context='Company'] {
					left: -120px;
					height: auto;
				}

			}
			&.imageAdjust[data-oneColumn='true']{
				position: relative;
				width: auto;
				height: 100%;
				top: auto;
				transform: none;
				right: 0;
			}

		}
	}

	@media (min-width: $phil-breakpoint-sm) {
		padding-top: 100px;
		padding-bottom: 100px;
	}

	@media (min-width: $phil-breakpoint-md) {
		&[data-index='0'] {
			&[data-context='Company'] {
				margin-top: 0px;
				margin-bottom: 0px;
			}
		}
	}

	@media (min-width: $phil-breakpoint-lg) {
		&[data-index='0'] {
			&[data-context='Company'] {
				padding-top: 0px;
				padding-bottom: 0px;
				margin-top: 0px;
				margin-bottom: -25px;
			}
		}
	}
}

/* .basicSectionContainer.empowerSection{
	@media (min-width: $phil-breakpoint-md) {
		padding-bottom: 90px;
	}
	@media (min-width: $phil-breakpoint-lg) {
		padding-bottom: 150px;
	}
}
.basicSectionContainer.gainSection{
		padding-top: 20px;
		padding-bottom: 0px;

	@media (min-width: $phil-breakpoint-lg) {
		padding-top: 50px;
	}
}
.basicSectionContainer.drivingSection{
		padding-top: 80px;

	@media (min-width: $phil-breakpoint-md) {
		padding-bottom: 60px;
	}

	@media (min-width: $phil-breakpoint-lg) {
		padding-top: 60px;
	}
} */

.listItem {
	color: #000;
	line-height: 27px;
	font-size: 18px;
	margin-top: 6px;
}

.listItemLabel {
	> p {
		margin-top: 0 !important;
		max-width: 100% !important;
	}
}

.textGridColumn {
	padding-bottom: 8px;

	@media (min-width: $phil-breakpoint-sm) {
		padding-bottom: auto;
	}

	& > p:last-child:empty {
		display: none;
	}
}

.portal {
	gap: 0px;

	& > p:last-child:empty {
		display: none;
	}
}

.body {
	font-size: 18px;
	margin-top: 24px;

	&[data-index='0'] {
		max-width: 84.5%;
	}

	&[data-is-embed-form-template='true'] {
		&[data-index='0'] {
			padding-left: 16px;
			padding-right: 16px;
		}

		@media (min-width: $phil-breakpoint-sm) {
			padding-left: 0px;
			padding-right: 0px;
		}

		@media (min-width: $phil-breakpoint-md) {
			padding-left: unset;
			padding-right: unset;
		}
	}

	&[data-video='true'] {
		margin-top: 16px;
	}

	&[data-oneColumn="true"] {
		max-width: 100%;
	}

	&[data-context='Company'] {
		margin-top: 40px;
	}
	&[data-context='Phil Direct'][data-is-bgcolor-light='true'] {
		color: #000000;
	}
	
	&[data-context='Phil Direct'][data-is-bgcolor-light='false'] {
		color: var(--primary-white-color);
	}	
}

.list {
	/* margin-bottom: 20px; */
	padding-left: 8px;

	&[data-video='true'] {
		margin-bottom: 0px;
	}

		&[data-context='Company'] {
		margin-top: 20px;
	}

	&[data-index='0'][data-context='Company'] {
		li{
			&::marker{
				color: var(--primary-green-color);
			}
		}
	}
}

.belowBodySection{
	&[data-context='Phil Direct'] {
		margin-top: 100px;
		margin-bottom: 62px;
		color: #525252;
		font-family: Raleway;
		font-weight: 700;
		font-style: Bold;
		font-size: 36px;

	}

}

.heroGridColumn {
	&[data-is-embed-form-template='true'] {
		padding-left: 0px;
		padding-right: 0px;

		@media (min-width: $phil-breakpoint-sm) {
			padding-left: 32px;
			padding-right: 32px;
		}
	}
	
	&.hideDueToWallImage{
		visibility: visible;

		@media (min-width: $phil-breakpoint-md) {
			visibility: hidden;
		}
	}
}

.formWrapper {
	padding: 44px 38px;
	background: #f4f4f4;
	width: 100%;

	@media (min-width: $phil-breakpoint-sm) {
		padding: 44px 32px;
	}
}

.contactSubheader {
	margin: 16px auto;
}


.internalLink,
.externalLink {
	display: inline-block;
	height: min-content;
	width: 100%;
	margin-top: 32px;

	&[data-oneColumn="true"] {
		margin: 32px auto 0px;
	}

	@media (min-width: $phil-breakpoint-md) {
		display: block;
		width: fit-content;

		&[data-video='true'] {
			margin-top: 16px;
		}
	}
}

.button {
	width: 100% !important;

	&.secondaryBtn {
			background-color: #FFFFFF;
			color: black;
			border-radius: 0px;
		}
}

.group {
	justify-content: center;

	&[data-context='Contact'] {
		height: 100%;
		justify-content: center;

		&[data-is-video='true'] {
			justify-content: start;
		}

		@media (min-width: $phil-breakpoint-md) {
			justify-content: end;
		}
	}

	&[data-is-video='true'] {
		justify-content: start;
	}
}

.assetCaption{
  display: flex;
  align-items: center;
  justify-items: center;
  gap: 5px;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 30px;
  color: #525252;

  .infoIcon{
    display: flex;
    align-items: center;
  }
  
  @media screen and (min-width: $phil-breakpoint-sm) {
    justify-content: start;
    margin-top: 20px;
  }

  @media screen and (min-width: $phil-breakpoint-md) {
    margin-left: 80px;
  }
  @media screen and (min-width: $phil-breakpoint-xl) {
      justify-content: center;
  }
}

#the-all-in-one-access-solution-for-retail-and-specialty-lite-success {
	padding-bottom: 60px;
	
	@media (min-width: $phil-breakpoint-sm) {
      padding-bottom: 0px;
    }
}

.dividerContainer{
	.divider{
		border-top: 1px solid #E6E6E6;
	}	
}

.arrowIconWrapper{
	display: flex;
	align-items: center;
}

.bottomSection{
	display: flex;
	margin-top: 20px;
	column-gap: 20px;
	align-items: center;

	.internalLink{
		margin-top: 0px;
		width: auto;
	}
}