label {
	font-weight: bold;
	color: #00201f;
	font-family: Lato, sans-serif;
	font-size: 14px;
	font-style: normal;
}

.input {
	margin-top: 6px;
}

input,
select,
textarea {
	width: 100%;
	border: solid 1px #6a7979;
	padding: 8px;
}

.hs-input {
	width: 100% !important;
}

fieldset {
	width: 100%;
	max-width: 100% !important;
	margin-bottom: 18px !important;
}

fieldset:has(.hs-form-field[style*='display: none']) {
	display: none;
}

textarea {
	height: 14em;
}

.hs-submit {
	margin-top: 24px;
	display: inline-block;
	width: 100%;
}

input[type='submit'] {
	background-color: #00201f;
	color: #fff;
	font-weight: 600;
	position: relative;
	line-height: 1;
	font-family: Lato;
	-webkit-tap-highlight-color: transparent;
	display: inline-block;
	width: auto;
	font-size: 14px;
	height: 100%;
	padding: 12px 24px;
	transition: outline 0.2s ease-out;
}

input[type='submit']:hover {
	outline: 1px solid #00201f;
	outline-offset: -1px;
	background-color: transparent;
	color: #00201f;
	font-weight: 900;
}

.hs-error-msgs {
	margin: 0 !important;
	padding: 6px 0;
	list-style: none;
}

.hs-error-msg {
	color: #d0021b;
	font-size: 14px;
	font-weight: normal;
}

.hs_error_rollup {
	display: none;
}

.actions {
	width: 100%;
	max-width: 100%;
}

.book-demo-hubspot-form input {
	border-radius: 8px;
    border: 1px solid #838E8D;
    height: 58px;
    margin-bottom: 15px;
    padding: 24px 14px;
}

.book-demo-hubspot-form .hs-submit .actions{
	display: flex;
	align-items: center;
}

.book-demo-hubspot-form input[type="submit"] {
	background-color: #39817D;
    color: white;
    border-radius: 8px;
    padding: 12px 20px;
    font-size: 16px;
    cursor: pointer;
    font-weight: 600;
    height: 48px;
	margin:0 auto;

	&:hover {
		outline-color: #000;
		background: #000;
		color: #fff;
	}
}

.book-demo-hubspot-form .hs-error-msgs {
	margin-top : -20px !important;
	transition: margin-top 0.2s ease;
}

.book-demo-hubspot-form{

	.hs-form-field {
		position: relative;

		.hs-input {
			width: 100%;
		}
	}

	/* Style the label to overlap inside the input initially */
	.hs-form-field > label:first-child {
		position: absolute;
		left: 12px;
		top: 0%;
		transform: translateY(-50%);
		background: #fff;
		padding: 0 5px;
		font-size: 16px;
		color: #C3C3C3;
		pointer-events: none;
		opacity: 0;
		transition: all 0.2s ease;
	}

	.hs-form-field:focus-within {
		/* When input is focused, move label up */
		> label:first-child {
			top: 8%;
			left: 10px;
			font-size: 13px;
			opacity: 1;
		}

		input:focus::placeholder {
			color: transparent;
			transition: color 0.1s ease;
		}
	}

	.hs-email:focus-within{
		> label:first-child {
			top:0%;
		}

	}
}