@import "header.css";
@import "hubspot-form.css";
@import "mantine-accordion-override.css";



.carousel__container{
    max-width: 700px;
    margin: 0px auto;
    padding: 0;
    @media screen and (min-width: 1360px) {
        max-width: 1200px;
    }
}

