@import "header.css";
@import "anchor.css";
@import "hubspot-form.css";
@import "mantine-accordion-override.css";
@import url("https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@latest/dist/tabler-icons.min.css");

:root {
  --navbar-height: 90px;
  --announcment-bar-height: 70px; /* Assume the height of the announcement bar */
  --side-margin: 32px;
  --primary-green-color: #00827E;
  --primay-white-color: #FFFFFF;

  --transition-base: 0.3s ease;
  --transition-color-bg: color 0.3s ease, background-color 0.3s ease;
  --transition-button-bg: outline 0.3s ease-out, background-color 0.3s ease, color 0.3s ease;
}

  .home{
    .phil-Carousel-slide{
      --carousel-slide-size: calc(100% - var(--carousel-slide-gap));
      @media (min-width: $phil-breakpoint-sm) {
        --carousel-slide-size: calc(50% - var(--carousel-slide-gap));
      }
    }

    .footer-container{
      padding-top: 100px;
      > .phil-Divider-root{
        display: none;
      }
    }
  }


.phil-Container-root{
  width: 100%;

    @media screen and (min-width: 1680px) {
        max-width: 1600px;
    }
}

.pharma {
  .brandOutcomeCard-module--title--4129d {
    color: #00827e;
  }

  .brandOutcomeCard-module--description--0c8c9 {
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    max-width: 146px;

    [data-gatsby-image-wrapper] {
      margin-bottom: 20px;
    }
  }

  [data-reference-type="Brand Outcome Card"] {
    .phil-Grid-col {
      max-width: 350px;
    }
  }

  .expanded-module--container--990b8 {
    &:has(iframe) {
      @media (min-width: $phil-breakpoint-sm) {
        padding-top: 0 !important;
      }

      .referencedSection-module--grid--8e21d {
        margin-top: 0;
      }
    }
  }

  .card-module--stack--8e982 {
    a {
      color: #00827e;
      font-weight: 600;
      font-size: 18px;

      &:hover {
        text-decoration: none;
      }

      &:after {
        content: "\ea1f";
        font-family: "tabler-icons";
        display: inline-block;
        vertical-align: middle;
        margin-left: 4px;
      }
    }
  }

}



 .referencedSection-module--root--09ebf{
  width: 100%;
 }

 .carousel__container{
  padding: 0;

  .referencedSection-module--root--09ebf{
    margin: auto
  }
}

.gatsby-image-wrapper{
  position: relative;
}

#the-all-in-one-access-solution-for-retail-and-specialty-lite-success {
  padding-top: 80px;
	padding-bottom: 80px;
}

.demoBookPage{
  width: 100%;
  height: 100%;
  position: relative;

  .bottomImage {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 40%;
    height: 40%;
    margin: auto;
    z-index: -1;
    opacity: 0.7;
  
    > img {
      width: 100%;
      height: 100%;
      object-fit: fill;
    }
  }
}

#hubspotContactForm{
  form{
    fieldset{
      h1{
        margin-bottom: 0px;
      }
    }
  }

  .submitted-message{
    h1{
        margin-bottom: 16px;
      }
  }
}

.phil-hyperlink-underline{
  position: relative;
    --ease-out-expo: cubic-bezier(0.19, 1, 0.22, 1);

      &::after{
        position: absolute;
        content: "";
        left: 0px;
		    bottom: 0px;
        width: 100%;
        height: 3px;
        background: #00827E;
        transition: 0.4s var(--ease-out-expo);
        transform-origin: left;
        transform: scaleX(0); /* Start hidden */
        transition: transform 0.4s var(--ease-out-expo) 0s;
      }

    &:hover{
        &::after{
          transform: scaleX(1); /* Animate to full underline on hover */
        }
    }
}

.sticky-wrapper {
  position: sticky;
  top: 0;
  z-index: 110;
}


#dtp-chat-id {
  .list-disc {
    list-style-type: disc;
  }

  .list-inside {
      list-style-position: inside;
  }
}

.case-study-form {
  .hs-input {
    border-radius: 4px;
  }

  .hs-error-msgs {
    line-height: 16px;
    font-size: 12px;
  }

  .hs-submit {
    margin-top: 20px;
    
    .hs-button {
      width: 100%;
    }
  }
}

.phil-singleSlider{

  .sliderLabel{
    margin-top: 4px;
  }

  .phil-Slider-markWrapper:first-of-type .sliderLabel {
    transform: translateX(0px) translateY(12px);
  }


  .phil-Slider-markWrapper:last-of-type .sliderLabel {
    transform: translateX(-77%) translateY(12px);
  }
}