.cardContainer {
  .cardOrImage {
    box-shadow: 0px 4px 10px 0px #0000001a;
    padding: 64px 32px;
    height: 100%;

    .content {
      margin-bottom: 32px;
    }

    .title {
      font-family: Raleway;
      font-weight: 700;
      font-style: Bold;
      font-size: 24px;
      margin-bottom: 32px;
    }

    .paragraph {
      font-family: Lato;
      font-weight: 400;
      font-style: Regular;
      font-size: 16px;
    }

    .anchor {
      font-family: Lato;
      font-weight: 600;
      font-size: 16px;
      text-decoration: none;
      color: var(--primary-green-color);
      transition: color 0.3s ease;
      .textwrapper {
        display: flex;
        align-items: center;
        gap: 4px;
      }
    }

    transition: background-color 0.4s ease, color 0.3s ease-out;

    &:hover {
      background-color: #00827E;
      border: none;
      color: #fff;

      .anchor {
        color: #fff;
      }
    }
  }
}

.imageOnly {
  padding: 40px;

  @media (min-width: $phil-breakpoint-sm) {
    padding: 0;
  }
  @media (min-width: $phil-breakpoint-md) {
    padding: 40px;
  }
}
