.keyTakeaways {
    margin: 0px 0;
  }
  
  .mainTitle {
    font-family: Raleway, sans-serif;
    font-weight: bold;
    color: #00827E;
    margin-bottom: 24px;
  }
  
  .takeawayItem {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 24px;
    position: relative;
  }
  
  .takeawayItem:last-child {
    margin-bottom: 0;
  }
  
  .itemTitle {
    color: #0a0a0a;
    font-weight: bold;
    font-size: 20px;
    margin: 0;
    flex-shrink: 0;
    min-width: 150px;
  }
  
  .itemDescription {
    position: relative;
    padding-left: 24px;
    flex: 1;
    min-height: 60px;
    display: flex;
    align-items: center;
  }
  
  .itemDescription::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 3px;
    background-color: #35ada7;
  }
  
  .descriptionText {
    color:#555555;
    font-family: Lato, sans-serif;
    font-size: 16px;
    line-height: 25.6px;
    margin: 0;
  }
  
  @media (min-width: $phil-breakpoint-xs) {
    .keyTakeaways {
      margin: 0 0;
    }
  
    .mainTitle {
      font-size: 22px;
      margin-bottom: 24px;
    }
  
    .itemTitle {
      font-size: 24px;
      width: 140px;
      min-width: 140px;
    }
  
    .itemDescription {
      min-height: 80px;
    }
  }