.root {
	padding-top: 80px;
	padding-bottom: 80px;
	width: 100%;
	max-width: 1440px;
}

.grid {
	max-width: 1440px;
	width: 100%;
	background: #f4f4f4;
}

.footer {
	max-width: 1440px;
	width: 100%;
}

.image {
	max-width: 110px;
	width: 100%;
}

.container {
	padding-left: 100px;
	padding-right: 100px;
}

.badge {
	width: 60px;
	height: 60px;

	@media (min-width: $phil-breakpoint-sm) {
		width: 110px;
		height: 110px;
	}
}
