.referencedSection {
  font-family: Raleway;
  margin-bottom: 40px;
}

.title {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 40px;
}

.header {
  font-size: 50px;
  margin-bottom: 40px;
}

.subHeading {
  font-family: Lato;
  margin-bottom: 18px;

  @media (min-width: $phil-breakpoint-sm) {
    margin-bottom: 36px;
  }

  .subHeadingSpan {
    font-size: 22px;
  }
}

.card {
  margin-bottom: 20px;

  @media (min-width: $phil-breakpoint-sm) {
    margin-bottom: 0px;
  }
}

.cardTitle {
  font-size: 66px;
  font-weight: 700;
  text-align: left;
  font-family: Raleway, sans-serif;
  font-variant-numeric: lining-nums proportional-nums;
  font-style: normal;
  letter-spacing: -2px;


  @media (min-width: $phil-breakpoint-sm) {
    text-align: center;
  }
}

.cardBody {
  font-size: 14px;
  width: auto;
  text-align: left;
  margin: auto;
  font-weight: 600;

  @media (min-width: $phil-breakpoint-sm) {
    width: 140px;
    text-align: center;
    margin: 0 auto;
  }
}

.divider {
  margin-top: 50px;
  border: 0.6px solid #F4F4F4
}