.card {
	background: #f4f4f4;
	height: 100%;
	max-width: 825px;
}

.avatar {
  width: 100%;

  @media(min-width: $phil-breakpoint-sm) {
    max-width: 40%;
  }
}


.wrapper {
	background: #f4f4f4;
}

.content {
	padding: 50px 42px;

	@media (min-width: $phil-breakpoint-lg) {
		padding: 50px 42px;
	}
}

.textColor {
	color: #525252;
}
