.keyMetricSection {
    margin-bottom: 20px;
    .title {
        color: #00827E;
        font-family: Raleway;
        font-weight: 700;
        font-size: 20px;
        position: relative;
        padding-bottom: 2px;
        margin-bottom: 6px;
        width: fit-content;
    }

    .value {
        font-family: Lato;
        font-weight: 500;
        font-size: 18px;
        line-height: 21.6px;
        text-align: left;
    }

    .box {
        &:not(:first-child) {
            padding-top: 20px;
        }

        &:not(:last-child) {
            padding-top: 20px;
        }
    }
   
    @media (min-width: $phil-breakpoint-xs) {
        display: flex;
        margin-bottom: 30px;
    
        .box {
            &:not(:first-child) {
                padding-left: 25px;
                padding-top: 0;
            }
    
            &:not(:last-child) {
                border-right: 1.27px solid #E9E9E9;
                padding-right: 25px;
                padding-top: 0;
            }
        }
    
        .title {
            margin-bottom: 4px;
            padding-bottom: 0;

            &::after {
                display: none;
            }
        }
    
        .value {
            font-family: Lato;
            font-weight: 400;
            font-size: 20px;
        }
    }
}