.sectionGroup {
  position: relative;

  .bgImageOne {
    position: absolute;
    width: 100%;
    display: none;

    @media (min-width: $phil-breakpoint-md) {
      display: block;

      &[data-context="Solution"][data-image-index="1"] {
        left: 0;
        top: 47%;
        transform: translateY(-50%);
      }

      &[data-context="Our Solution"][data-section-index="4"] {
        width: 90%;
        left: 0;
        top: 38%;
        transform: translateY(-50%);
      }
    }
  }

  .bgImageTwo {
    position: absolute;
    width: 100%;
    display: none;

    @media (min-width: $phil-breakpoint-md) {
      display: block;

      &[data-context="Solution"][data-image-index="2"] {
        width: 85%;
        right: 0;
        top: 75%;
        transform: translateY(-50%);
      }

      &[data-context="Our Solution"][data-section-index="4"] {
        width: 85%;
        right: 0;
        top: 55%;
        transform: translateY(-50%);
      }
    }
  }

  .bgImageThree {
    position: absolute;
    width: 100%;
    display: none;

    @media (min-width: $phil-breakpoint-md) {
      display: block;

      &[data-context="Our Solution"][data-section-index="4"] {
        width: 85%;
        left: 0;
        top: 82%;
        transform: translateY(-50%);
      }
    }
  }
}
