.container {
	--img-outside-margin: 64px;
	margin-top: 36px;

		.assetHeight{
			@media (min-width: $phil-breakpoint-md) {
				position: relative;
				height: -webkit-fill-available;
				height: -moz-available; /*firefox*/

				.wallImage{
					position: absolute;
					top: 50%;
					right: calc(var(--img-outside-margin) * -1);
					transform: translateY(-50%);
					width: auto;
				}
			}
		}
}

.center {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.title {
	font-size: 38px !important;

	@media (min-width: $phil-breakpoint-sm) {
		font-size: 60px !important;
	}
}

.jobTitle {
	font-size: 28px !important;
    line-height: 1;

	@media (min-width: $phil-breakpoint-sm) {
		font-size: 36px !important;
	}
}
