.container {
	margin-top: 36px;
}

.center {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.title {
	font-size: 38px !important;

	@media (min-width: $phil-breakpoint-sm) {
		font-size: 60px !important;
	}
}

.jobTitle {
	font-size: 28px !important;
    line-height: 1;

	@media (min-width: $phil-breakpoint-sm) {
		font-size: 36px !important;
	}
}
