.divider {
    max-width: 35%;
    margin-top: 10px;
    margin-bottom: 64px;
}

.heading {
    line-height: 1.2;
    color: #000000;
}

.subHeading {
    font-family: Lato, sans-serif;
    font-weight: 400;
    color: #01201F;
}

.codeSnippetStack {
    align-items: flex-start;
}