.divider {
    max-width: 35%;
    margin-top: 10px;
    margin-bottom: 64px;
}

.heading {
    line-height: 1.2;
    color: #000000;
}

.codeSnippetStack {
    align-items: flex-start;
}

.subHeading {
	color: var(--Phil-Rebrand-Neutral-Pitch, #0a0a0a);
	font-family: Lato;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: 150%; /* 27px */
}