
.heading {
	line-height: 1.2;
	color: #000000;

	&[data-context='Field'] {
		font-size: 25px;
	}

	&[data-context='Company'] {
		text-align: center;
		width: 100%;
		font-size: 38px;

		@media (min-width: $phil-breakpoint-sm) {
			font-size: 40px;
		}
	}

	@media (min-width: $phil-breakpoint-sm) {
		&[data-context='Field'] {
			font-size: 30px;
		}
	}
}

.stack {
	align-items: flex-start;
	gap: 20px;

	&[data-reference-type='Code Snippet'] {
		align-items: start;
	}

	&[data-index='0']&[data-context='DtpResources'] {
		.heading,.subHeading{
			color: var(--primay-white-color);
			text-align: center;
		}

		.subHeading{
			@media (min-width: $phil-breakpoint-md) {
				font-size: 24px;
			}
		}

		@media (min-width: $phil-breakpoint-md) {
			margin-left: 5%;
			margin-right: 5%;
		}
	}

	@media (min-width: $phil-breakpoint-sm) {
		align-items: center;
		gap: 40px;

		&[data-context='Company'] {
			gap: 30px;
		}

		&[data-context='Field'] {
			align-items: start;
		}

		&[data-index='4']&[data-context='Phil Direct'] {
			align-items: flex-start;
		}
	}
}

.subHeading {
	color: var(--Phil-Rebrand-Neutral-Pitch, #030303);
	font-family: Lato, sans-serif;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: 150%; /* 27px */
	@media (min-width: $phil-breakpoint-sm) {
		text-align: center;
		
	}

	&[data-is-home-brand-outcome='true'] {
		max-width: 945px;
		margin: 0 auto;
	}
}
