.chevron {
	margin-left: 0;

	> svg {
		width: 40px !important;
		height: 40px !important;
	}
}

.label {
	padding: 0;
}

.control {
	padding: 20px;
	padding-left: 100px;
	padding-right: 100px;
	border-bottom: 0px !important;
}

@media (max-width: 768px) {
	.control {
		padding: 20px;
		padding-left: 20px;
		padding-right: 20px;
	}
}

.content {
	padding-left: 105px;
	padding-right: 105px;
}

@media (max-width: 768px) {
	.content {
		padding-left: 20px;
		padding-right: 20px;
	}
}

.item {
	background: #f4f4f4;
}

.item[data-active] {
	background: #f4f4f4;

	border: none;
}

.heading {
	line-height: 1.2;
	color: #000000;
}

@media (max-width: 768px) {
	.heading {
		text-align: center;
		margin-bottom: 10px;
		padding-left: 20px;
		padding-right: 20px;
	}
}

@media (max-width: 768px) {
	.subHeading {
		text-align: center;
		padding-left: 34px;
		padding-right: 34px;
	}
}

.codeSnippetStack {
	align-items: flex-start;
}

@media (max-width: 768px) {
	.codeSnippetStack {
		align-items: center;
	}
}

.column {
	&[data-reference-type='Stepper Cards'],
	&[data-reference-type='Testimonial'] {
		max-width: fit-content;
	}
}

.subHeading {
	display: none;
	margin-top: 80px;

	color: var(--Phil-Rebrand-Neutral-Pitch, #0a0a0a);
	font-family: Lato, sans-serif;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: 120%; /* 21.6px */

	&[data-reference-type='Stepper Cards'] {
		display: flex;
	}
}

.grid {
	&[data-add-margin='true'] {
		margin-top: 40px;

		@media (min-width: $phil-breakpoint-sm) {
			margin-top: 80px;
		}
	}

	&[data-context='Field'] {
		margin-top: 0;
	}
}

.carouselContainer {
	> div {
		&:not(:last-child) {
			padding-right: 36px;
		}
	}
}

.root {
	width: 95%;

	&[data-has-media-item='true'] {
		width: 100%;
	}
}
