.metricContainer {
  margin-top: 50px;
}

.metricGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: #d8d9d9;

  .item {
    background: white;
    padding: 8px;
    border-top: 1px solid #d8d9d9;
    border-right: 1px solid #d8d9d9;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;

    &:nth-child(2n + 1) {
      border-bottom: 1px solid #d8d9d9;
      border-top-left-radius: 0;
      border-top-right-radius: 12px;
      border-bottom-right-radius: 12px;
    }
    &:nth-child(2n + 1):last-child {
      border-bottom: 0;
      border-bottom-right-radius: 0px;
    }

    &:nth-child(2n) {
      border-right: none;
      border-bottom: 1px solid #d8d9d9;
      border-top-right-radius: 0;
      border-top-left-radius: 12px;
      border-bottom-left-radius: 12px;
    }
  }

  @media (min-width: $phil-breakpoint-md) {
    grid-template-columns: repeat(5, 1fr);

    .item {
      &:nth-child(2n + 1) {
        border-bottom: 0;
        border-top-left-radius: 12px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
        border-right: 1px solid #d8d9d9;
        border-left: 1px solid #d8d9d9;
      }
      &:nth-child(2n) {
        border-bottom: 0;
        border-top-right-radius: 12px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
        border-right: 1px solid #d8d9d9;
        border-left: 1px solid #d8d9d9;
      }
    }

    .item {
      padding: 16px;
      border-top: 1px solid #d8d9d9;
      border-right: 1px solid #d8d9d9;
      border-top-left-radius: 12px;
      border-top-right-radius: 12px;

      &:nth-child(5n + 1):first-child {
        border-left: none;
      }

      &:nth-child(5n + 1) {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        border-bottom: 0;
        border-right: 1px solid #d8d9d9;
      }

      &:nth-child(5n):last-child {
        border-right: none;
      }
      &:nth-child(5n) {
        border-top-right-radius: 0;
        border-top-left-radius: 12px;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;

        border-left: 1px solid #d8d9d9;
        border-bottom: 0;
      }
    }
  }
}
