.container {
	background: #fff;
	min-height: 100%;
	max-width: 100%;
	width: 100%;
	padding: 60px 0;
	position: relative;
	z-index: 2;

	&[data-context='Field'] {
		padding: 0 16px;
	}

 
	&[data-disable-border-top='true'] {
		border-top: none;
	}

	&[data-no-padding-bottom='true'] {
		padding-bottom: 0px;
	}

	.rightBackgroundIcon {
	  display: none;
	  
	  @media (min-width: $phil-breakpoint-md) {
		opacity: 0.8;
		display: block;
		position: absolute;
		top: 0;
		right: 0;
		height: 100%;
		z-index: 0;
	  }
	  
	  >img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: 0% 50%;
	  }
	}

	&[data-context='DtpResources'] {
		.rightBackgroundIcon {
			@media (min-width: $phil-breakpoint-md) {
				height: auto;
			}
		}
	}

	@media (min-width: $phil-breakpoint-sm) {
		padding: 100px 0;

		&[data-context='Field'] {
			padding: 0 100px;
		}
	}

 
}
