.container {
	--padding-size : 100px;
	background: #fff;
	min-height: 100%;
	max-width: 100%;
	width: 100%;
	padding: 60px 0;

	&[data-context='Field'] {
		padding: 0 16px;
	}

 
	&[data-disable-border-top='true'] {
		border-top: none;
	}

	&[data-no-padding-bottom='true'] {
		padding-bottom: 0px;
	}

	&[data-is-home-page-first-card-section='true'] {
		padding-top: calc(var(--padding-size) - 40px);
		padding-bottom: 0px;
	}

 

	@media (min-width: $phil-breakpoint-sm) {
		padding: 100px 0;

		&[data-context='Field'] {
			padding: 0 100px;
		}
	}

 
}
