.roiHeading {
  .boldText {
    font-weight: 700;
    font-size: 18px;
    color: #00827E;
  }

  .heading3 {
    margin-bottom: 15px;
    line-height: 130%;
  }
  .paragraph {
    margin-bottom: 30px;
    font-size: 18px;
  }
}
