.paper {
	padding: 64px 32px;
	width: calc(100% - 12px);
	height: 100%;
	line-height: 27px;

    &[data-hasAsset="true"] {
        padding: 0;
    }
}

.imageWrapper {
	max-width: 425px;
	max-height: 425px;
	padding: 0;
}

.paragraph {
	font-size: 16px;
	color: #525252;
}

.description {
	color: var(--Phil-Rebrand-Neutral-Gunmetal, #525252);
	font-family: Lato, sans-serif;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 120%; /* 19.2px */
	font-size: 16px;
	color: #525252;
	margin-bottom: 32px;
}

.stack {
    padding: 64px 0;

    &[data-has-asset = 'true'] {
        padding: 64px 32px;
    }
}