.paper {
	padding: 64px 32px;
	width: calc(100% - 12px);
	height: 100%;
	line-height: 27px;

	&[data-hasAsset='true'] {
		padding: 0;
		width: 100%;
	}
}

.before {
	&[data-has-asset='true'] {
		display: none;
	}
}

.imageWrapper {
	max-width: 425px;
	max-height: 425px;
	padding: 0;
}

.paragraph {
	font-size: 16px;
	color: #525252;
}

.description {
	color: var(--Phil-Rebrand-Neutral-Gunmetal, #525252);
	font-family: Lato, sans-serif;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 120%; /* 19.2px */
	font-size: 16px;
	color: #525252;
	/* margin-bottom: 32px; */
}

.stack {
	> * {
		&:not(:first-child) {
			margin-top: 32px;
		}

		&:nth-child(2):is(h4) {
			margin-top: 8px;
		}
	}

	&[data-has-asset='true'] {
		padding: 64px 32px;
	}

	&[data-is-faq='true'] {
		padding: 0;
		height: fit-content;
	}
}

.title {
	&[data-is-faq='true'] {
		margin-bottom: 0px;
	}
}
