/* Styles.css */

.card {
    position: relative;
    overflow: hidden;
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    height: 100%;
    display: flex;
}

.author {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 16px;
}

.designation {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}

.testimonialImage {
    width: 100%;
    height: 100%;
}
