.cardContainer {
  .imageConnnectToTwoCard {
    box-shadow: 0px 4px 10px 0px #0000001a;
    padding: 64px 32px;
    height: 100%;
    border-radius: 16px;

    .title {
      font-family: Raleway;
      font-weight: 700;
      font-style: Bold;
      font-size: 24px;
      margin-bottom: 32px;
    }

    .heading3Container {
      display: flex;
      gap: 10px;
      align-items: center;
      margin-bottom: 20px;

      .heading3 {
        font-family: Raleway;
        font-weight: 700;
        font-style: Bold;
        font-size: 18px;
      }
    }

    .paragraph {
      font-family: Lato;
      font-weight: 400;
      font-style: Regular;
      font-size: 16px;
    }

    .anchor {
      font-family: Lato;
      font-weight: 600;
      font-size: 16px;
      text-decoration: none;
      color: var(--primary-green-color);

      .textwrapper {
        display: flex;
        align-items: center;
        gap: 4px;
      }
    }
  }
}

.imageOnly {
  position: relative;
  width: 100%;
  height: 100%;

  &[data-context="Solution"][data-index="1"] {
    height: 300px;

    @media (min-width: $phil-breakpoint-xs) {
      height: 400px;
    }

    @media (min-width: $phil-breakpoint-sm) {
      height: 100%;
    }
  }

  .imageWrapper {
    padding: 0;
    width: 100%;
    max-height: 100%;

    &[data-context="Solution"][data-index="1"] {
      height: 104%;
      position: absolute;
      top: 48%;
      left: 50%;
      transform: translate(-50%, -50%);

      @media (min-width: $phil-breakpoint-sm) {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 105%;
      }
    }
  }
}
