.paper {
	/* padding: 32px; */
	width: calc(100% - 12px);
	height: 100%;

	&[data-context='Demo Page'] {
		background-color: transparent;
		padding: 24px 32px;
	}

	@media (min-width: $phil-breakpoint-sm) {

		&[data.context='Field'] {
			padding: 40px 0px;
		}
		
		padding: 24px 32px;
	}
}

.brand{
	justify-content: center;
}

.title {
	color: var(--Phil-Rebrand-Neutral-Pitch, #0a0a0a);
	text-align: center;
	font-variant-numeric: lining-nums proportional-nums;
	font-family: Raleway, sans-serif;
	font-size: 92px;
	font-style: normal;
	font-weight: 700;
	letter-spacing: -5.52px;
	line-height: 1;

	&[data-context='Demo Page'] {
		font-size: 58px;
		line-height: 120%;
		letter-spacing: -3px;
		margin-bottom: -20px;
		color: #FFFFFF;

	}
}

.homeTitle {
	color: var(--Global-Green-Foliage, #00827E);
	text-align: center;
	leading-trim: both;
	text-edge: cap;
	font-variant-numeric: lining-nums proportional-nums;
	font-family: Raleway;
	font-size: 88px;
	font-style: normal;
	font-weight: 700;
	line-height: 120%; /* 91.768px */
	align-self: center;
}

.description {
	color: var(--Phil-Rebrand-Neutral-Pitch, #0a0a0a);
	font-family: Raleway, sans-serif;
	font-size: 24px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;

	&[data-context='Demo Page'] {
		font-weight: 600;
		font-size: 18px;
		text-align: center;
		color: #FFFFFF;
	}
}

.homeDescription {
color: var(--Phil-Rebrand-Neutral-Pitch, #0A0A0A);
text-align: center;
leading-trim: both;
text-edge: cap;
font-family: Raleway;
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
