.switchField {
    display: flex;
    justify-content: space-between;

    .titleLabel {
        display: flex;
        gap: 12px;
        font-size: 16px;

        .icon {
            display: flex;
            align-items: center;
        }
    }
}