.annoucement {
    padding: 15px 0;
    text-align: center;

    .msg {
        font-family: Raleway;
        font-weight: 600;
        color: var(--primay-white-color, #FFFFFF);
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        row-gap: 16px;
        position: relative;

        .left {
            font-family: Raleway;
            font-weight: 600;
            font-size: 16px;
        }

        .boldText {
            font-weight: 800;
        }

        .right {
            width: 100%;

            .btn {
                padding: 18px 26px 18px 32px;
                width: 100%;

                .btnText {
                    font-family: Lato;
                    font-weight: 600;
                    font-size: 16px;
                    display: flex;
                    align-items: center;
                    justify-items: center;
                    gap: 3px;
                }
            }

            @media (min-width: $phil-breakpoint-sm) {
                width: auto;
            }
        }

        @media (min-width: $phil-breakpoint-md) {
            padding-right: 32px;

            .left {
                font-size: 18px;
            }

            .right {
                position: absolute;
                right: 32px;
                top: 50%;
                transform: translateY(-50%);

                .btn {
                    .btnText {
                        font-size: 16px;
                    }
                }
            }
        }
    }

    @media (min-width: $phil-breakpoint-lg) {
        padding: 15px 0;
    }

}