.annoucement {
    padding: 36px 0;
    text-align: center;
    position: relative;



    .msg {
        font-family: Raleway;
        font-weight: 600;
        font-size: 16px;
        color: var(--primay-white-color, #FFFFFF);
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        row-gap: 25px;
        width: 100%;

        .title {
            font-family: Raleway;
            font-weight: 600;
            font-size: 22px;
        }

        .boldText {
            font-weight: 800;
        }

        .buttonWrapper {
            .btn {

                padding: 23px 38px;

                .btnText {
                    font-family: Lato;
                    font-weight: 600;
                    font-size: 18px;
                    display: flex;
                    align-items: center;
                    justify-items: center;
                    gap: 5px;
                }
            }
        }



        @media (min-width: $phil-breakpoint-md) {
            flex-direction: row;

            .title {
                font-size: 30px;
                margin: 0 0.5rem 0 auto;

            }

            .buttonWrapper {
                margin-left: auto;

                .btn {
                    .btnText {
                        font-size: 22px;
                    }
                }
            }
        }
    }
}